
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<br/>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center"><span style="color:white;font-size:20px;"><strong>About Cardill Sports</strong></span></div>
        <br/>
        <div class="AboutMainImage"><img class="img-responsive" style="height:300px;margin:0 auto;" src="~/Content/images/wadevscojo.jpg"/></div>
        <br/>
        <div class="text-center AboutMainText" style="margin:0 25px;"><p align="justify">Lorem ipsum dolor sit amet, ipsum accusata te vix. Ea deserunt comprehensam ius, pri an vocent sanctus persequeris, docendi scribentur quo id. Ei ullum tincidunt duo, te vel tibique singulis.</p></div>
        <div class="text-center"><span style="color:white;font-size:20px;"><strong>Our Team</strong></span></div>
        
    </div>
</div>