@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="col-md-10">
        <div class="articleImage">
            <img class="img-responsive" src="~/Content/images/wadevscojo.jpg" />
            <div class="caption-bottom">
                <div class="col-md-8">
                    <div class="recentArticles" style="margin-left:50px;margin-bottom:50px;">
                        <span style="font-size:26px;"><strong>Round 2 Game 7 Preview</strong></span>
                        <br />
                        <span style="font-size:20px;">VITHUSHAN NAMA | Contributor</span>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <button>Read On</button>
                </div>*@
            </div>
        </div>
        <div class="mostRecentArticles" style="background-color:#111010;border:solid;border-color:#353434;border-width:1px;">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/images/most recent title.png" class="img-responsive recentArticleImage" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 text-center recentArticles">
                    <a href="@Url.Action("Articles","Home")"><img src="~/Content/images/Stern-Veto-Gif.jpg" class="img-responsive recentArticleImage" style="height:150px;" /></a>
                    <br />
                    VITHUSHAN NAMA | Contributor
                    <br />
                    The Power of Veto
                </div>
                <div class="col-md-4 text-center recentArticles">
                    <a href="@Url.Action("Articles","Home")"><img src="~/Content/images/940-leafs-8col.jpg" class="img-responsive recentArticleImage" style="height:150px;" /></a>
                    <br />
                    ZEN POTTER | Contributor
                    <br />
                    The Day I said What if
                </div>
                <div class="col-md-4 text-center recentArticles">
                    <a href="@Url.Action("Articles","Home")"><img src="~/Content/images/940-leafs-8col.jpg" class="img-responsive recentArticleImage" style="height:150px;" /></a>
                    <br />
                    ZEN POTTER | Contributor
                    <br />
                    The Day I said What if
                </div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/images/copyright.png" class="img-responsive recentArticleImage" />
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>