@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="col-md-10">
        <div class="articleImage" style="min-height:350px;">
        </div>
        <div class="mostRecentArticles" style="background-color:#111010;min-height:200px;border:solid;border-color:#353434;border-width:1px;">
            hi
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>