.articleTitle {
    color: white;
    font-family: 'Lato';
}

.articleText {
    font-family: 'Lato';
    font-size: 18px;
    color: black;
}

.articleImg {
    margin: 0 auto;
    max-height: 550px;
}

.articleDate {
    color: #125781;
}

.articleUnderlay {
    background-color: white;
    padding: 55px;
}

.articleOwner {
    color: white;
    font-family: 'Lato';
    font-size: 18px;
}

/*.articleBack {
    background-image: url(/Content/images/basketball-transparent-outline-hi.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.articleItem {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    position: relative;
    background-position-y:10%
}
.articleItem:hover{
    opacity:0.7;
}

.articleItemCaption {
    position: absolute;
    bottom: 0px;
    width: 30%;
    background: rgba(0,0,0,0.85);
    border-radius: 4px;
    padding: 0 14px;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    height:100%;
}
